body
{
    margin: 0;
    padding: 0;
    background-color: #FFFAF0 !important;
}
.container-fluid
{
    background-color: #27355C;
}
.navbar
{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar-brand
{
    color: white !important;
}
.mainContainer
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardIn
{
    height: 60px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.progress
{
    margin-bottom: 20px !important;
}
.cardIn:hover
{
    cursor: pointer;
    scale: 1.05;
    background-color: lightgray;
}
.leftContainer
{
    background-color: #27355C;
}
.logoOnLeftContainer
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card-title
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.question-footer
{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}
.bg-success, .bg-danger
{
    color: white;
}
.restartButton
{
    margin: 40px;
}
.endScreenRightQuestionContainer
{
    margin-top: 20px;
}
.endScreenIcon
{
    height: 100px;
    width: 100px;
}
.leftContainerIcon
{
    width: 70px;
    height: 60px;
}

@media(max-width: 730px)
{
    .leftContainer
    {
        width: 100px !important;
        height: 500px !important; 
    }
    .card-body, .card
    {
        width: 400px !important;
        height: 500px !important;
    }
    .cardIn 
    {
        height: 40px;
    }
    .card-title,.endScreenRightQuestionContainer
    {
        flex-wrap: wrap;
        text-align: center;
    }
}
@media(max-width: 530px)
{
    .leftContainer
    {
        width: 100px !important;
        height: 500px !important; 
    }
    .card-body, .card
    {
        width: 300px !important;
        height: 500px !important;
    }
    .cardIn 
    {
        height: 40px;
    }
}
@media(max-width: 420px)
    {
    .card-body, .card
    {
        width: 280px !important;
        height: 500px !important;
    }
    }
@media(max-width: 390px)
{
    .leftContainer
    {
        width: 70px !important;
        height: 500px !important;    
    }
    .leftContainerIcon
    {
        height: 50px;
        width: 60px;
    }
    .card-title
    {
        font-size: 16px !important;
    }
}
@media(max-width: 360px)
{   
    .card-body, .card
    {
        width: 240px !important;
        height: 500px !important;
    }
    span
    {
        font-size: 14px !important;
    }
    button
    {
        height: 50px !important;
        width: 85px;
        font-size: 13px !important;
    }
}